<!DOCTYPE html>
<html>
  <head>
    <title>Study Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
          <div class="header-logo">
            <%= link_to 'Study Events', root_path, class: 'navbar-brand' %>
          </div>
          <ul class="header-menus">
              <li><%= link_to 'StudyEventsとは', about_path %></li>
              <li><%= link_to '投稿一覧', posts_path %></li>
              <li><%= link_to '新規投稿', new_post_path %></li>
          <% if user_signed_in? %>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
    </header>
      <%= yield %>
  </body>
</html>
